/* defined colors */
@import url("colors.css");

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

@media (width <= 740px) {
  .space-around {
    flex-wrap: wrap;
  }
}

/* @media (740px < width <= 1200px) {

} */

/* @media (width > 1200px) {

} */

footer {
  display: flex;
  justify-content: start;
}

.space-around {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical {
  display: grid;
  flex-direction: column;
  align-items: start;
}

.gap {
  gap: 2rem;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

h5 {
  color: var(--primary-1);
}
