/* defined colors */
@import url("colors.css");

@media (width < 768px) {
  nav {
    width: 100%;
    margin-left: 2vw;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  nav li {
    display: inline-block;
  }

  .header-icon {
    width: 40px;
  }
}

@media (768px <= width < 1200px) {
  nav {
    width: 100%;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  nav li {
    display: inline-block;
  }

  .header-icon {
    width: 40px;
  }
}

@media (width >= 1200px) {
  nav {
    width: 100%;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  nav li {
    display: inline-block;
  }
}
