@import url("dimensions.css");

/* Media Query */

@media (width < 768px) {
  .constrain-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  button {
    /* top, bottom 8px | left, right 24px */
    padding: 0.5rem 1.5rem;
    max-width: 180px;
  }
}

@media (768px <= width < 1200px) {
  .constrain-content {
    padding-left: 2.08%;
    padding-right: 2.08%;
  }

  button {
    /* top, bottom 20 px | left, right 32px */
    padding: 1.25rem 2rem;
    max-width: 200px;
  }
}

@media (width >= 1200px) {
  .constrain-content {
    padding-left: 20.13%;
    padding-right: 20.13%;
  }

  button {
    /* top, bottom 20 px | left, right 32px */
    padding: 1.25rem 2rem;
  }
}

/* Links */
li a {
  text-decoration: none;
  color: black;
}

.hero-button > a {
  text-decoration: none;
  color: black;
}

li a:link {
  color: black;
}

li a:active {
  color: black;
}

li a:hover {
  color: var(--primary-1);
}

li a:visited {
  color: var(--primary-1);
}

/* Dimensions */

.outline {
  border: 1px solid black;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

/* Grid */

.grid {
  display: grid;
}

/* Grid - Justify Items */

.justify-items-stretch {
  justify-items: stretch;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

/* Flexbox */

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Flexbox - Justify Content */

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

/* Flexbox - Align items */

.center-items {
  align-items: center;
}

.start-items {
  align-items: self-start;
}

.self-start {
  align-self: self-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

/* Margins - Vertical */

.vertical-tmargin-12 {
  margin-top: var(--spacing-12);
}

.vertical-tmargin-24 {
  margin-top: var(--spacing-24);
}

.vertical-tmargin-40 {
  margin-top: var(--spacing-40);
}

.vertical-bmargin-40 {
  margin-bottom: var(--spacing-40);
}

/* Margins - Horizontal */

.horizontal-lmargin-4 {
  margin-left: var(--spacing-4);
}

/* Paddings - Vertical */

.vertical-padding-32 {
  padding-top: var(--spacing-32);
  padding-bottom: var(--spacing-32);
}

.vertical-padding-20 {
  padding-top: var(--spacing-20);
  padding-bottom: var(--spacing-20);
}

.vertical-padding-16 {
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-16);
}

.vertical-bpadding-28 {
  padding-bottom: var(--spacing-28);
}

/* Paddings - Horizontal */

.horizontal-padding-12 {
  padding-left: var(--spacing-12);
  padding-right: var(--spacing-12);
}

.horizontal-padding-16 {
  padding-left: var(--spacing-16);
  padding-right: var(--spacing-16);
}

.left-padding-16 {
  padding-left: var(--spacing-16);
}

/* Border - Radius */
.border-top-radius-8 {
  border-top-left-radius: var(--spacing-8);
  border-top-right-radius: var(--spacing-8);
}

/* Scroll content  */
.scroll-container {
  width: 100%;
  overflow-x: auto;
}

.scrollx-content {
  display: inline-flex;
  flex-wrap: nowrap;
}

button {
  min-width: 180px;
  border: transparent;
  border-radius: 16px;
  color: black;
  background-color: var(--primary-2);
}

button:active {
  background-color: var(--primary-1);
  color: white;
}

button:disabled {
  background-color: var(--primary-2);
  /* stylelint-disable-next-line color-function-notation -- requires opacity */
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
}
