@import url("colors.css");

@media (width < 768px) {
  .hero-section {
    background-color: var(--primary-1);
  }

  .hero-grid {
    grid-template-columns: minmax(169px, 1fr) minmax(120px, 0.35fr);
    grid-template-areas:
      "cell-a0 cell-a0"
      "cell-b0 cell-b1";
  }

  .titles {
    grid-area: cell-a0;
  }

  .appeal-action {
    grid-area: cell-b0;
  }

  .hero-image {
    grid-area: cell-b1;
    width: 100%;
  }
}

@media (768px <= width < 1200px) {
  .hero-section {
    background-color: var(--primary-1);
  }

  .hero-grid {
    grid-template-columns: 1fr 88px 0.8fr;
    grid-template-areas:
      "cell-a0 . cell-a2"
      "cell-b0 . cell-a2";
  }

  .titles {
    grid-area: cell-a0;
  }

  .appeal-action {
    grid-area: cell-b0;
  }

  .hero-image {
    grid-area: cell-a2;
    width: 100%;
    max-width: 368px;
  }
}

@media (width >= 1200px) {
  .hero-section {
    /* background-color: var(--primary-1); */
    background: linear-gradient(var(--primary-1) 81.2%, white 18.8%);
  }

  .hero-grid {
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-areas:
      "cell-a0 . cell-a2"
      "cell-b0 . cell-a2";
  }

  .titles {
    grid-area: cell-a0;
  }

  .hero-image {
    margin-top: 44px;
    grid-area: cell-a2;
    width: 392px;
  }

  .appeal-action {
    grid-area: cell-b0;
  }
}

.titles h1 {
  color: var(--primary-2);
}

.titles h2 {
  color: white;
}

.hero-image {
  border-radius: 8px;
}

.hero-grid {
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

.hero-section p {
  color: white;
}

.hero-button {
  text-align: center;
  text-decoration: none;
  color: black;
}

.appeal-action .hero-button {
  margin-top: 16px;
}

.hero-section h1 {
  line-height: 3rem; /* Removes any top space of element */
}

.titles {
  margin-top: 16px;
}
