@import url("colors.css");

@media (width < 768px) {
  .hero-button {
    margin-top: 20px;
    margin-bottom: 32px;
  }

  .hero-img {
    width: 37.5%;
    max-width: 120px;
  }

  .hero-story {
    margin-right: 0.25rem;
    margin-top: 0;
  }
}

@media (768px <= width < 1200px) {
  .hero-button {
    margin-top: 12px;
  }

  .hero-img {
    width: 43.88%;
    align-self: self-start;
    margin-top: 36px;
    max-width: 280px;
  }

  .hero-story {
    margin-top: 12px;
    margin-right: 24.88%;
  }
}

@media (width > 1200px) {
  .hero-button {
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .hero-img {
    width: 46.12%;
    max-width: 393px;
    margin-top: 44px; /* Takes into consideration size of image and then overflow in y direction */
  }

  .hero-story {
    margin-top: 12px;
    margin-right: 24.88%;
  }
}

h1 {
  color: var(--primary-2);
  white-space: nowrap;
}

h2 {
  color: white;
}

.hero-story {
  color: white;
}

.hero-content {
  height: 354px;
  background-color: var(--primary-1);
}

.hero-img {
  border-radius: 16px;
}
