@import url("colors.css");
@import url("dimensions.css");

/* @media (width < 768px) {} */

/* @media (768px <= width <= 1200px) {} */

/* @media (width > 1200px) {} */

.highlights .scrollx-content {
  gap: var(--spacing-32);
}

.specials-title {
  color: black;
  white-space: nowrap;
}

.special-dish-container:focus-visible {
  outline: 3px solid white;
  width: 260px;
  height: 452px;
  background-color: var(--highlight-1);
}

.special-dish-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 212px auto;
  gap: 1.25rem;
}

.special-dish-vgrid {
  grid-template-columns: 1fr;
  grid-template-rows: 24px auto 20px;
  gap: 1.25rem;
}

.special-dish-hgrid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.special-dish-price {
  color: var(--secondary-1);
}

.special-dish-description {
  white-space: wrap;
  color: var(--primary-1);
}
