/* defined colors */
@import url("colors.css");

@media (width <= 740px) {
  .constrain-content {
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
  }

  .navigation-bar {
    height: 120px;
  }

  .hero-section {
    height: 396px;
  }

  .highlights {
    height: 640px;
  }

  .testimonials {
    height: 340px;
  }

  .about {
    height: 552px;
  }

  .footer-navigation {
    height: 412px;
  }

  button {
    /* top, bottom 8px | left, right 24px */
    padding: 0.5rem 1.5rem;
    max-width: 180px;
  }
}

@media (740px < width <= 1200px) {
  .constrain-content {
    padding-left: 6.72%;
    padding-right: 6.72%;
    height: 100%;
  }

  .navigation-bar {
    height: 120px;
  }

  .hero-section {
    height: 408px;
  }

  .highlights {
    height: 572px;
  }

  .testimonials {
    height: 484px;
  }

  .about {
    height: 428px;
  }

  .footer-navigation {
    height: 322px;
  }

  button {
    /* top, bottom 20 px | left, right 32px */
    padding: 1.25rem 2rem;
    max-width: 200px;
  }
}

@media (width > 1200px) {
  .constrain-content {
    padding-left: 20.13%;
    padding-right: 20.13%;
    height: 100%;
  }

  .navigation-bar {
    height: 120px;
  }

  .hero-section {
    height: 480px;
  }

  .highlights {
    height: 700px;
  }

  .testimonials {
    height: 700px;
  }

  .about {
    height: 560px;
  }

  .footer-navigation {
    height: 460px;
  }

  button {
    /* top, bottom 20 px | left, right 32px */
    padding: 1.25rem 2rem;
  }
}

main {
  width: 100vw;
}

.navigation-bar {
  background-color: #d9d9d9;
  width: 100%;
}

.hero-section {
  background-color: #818181;
  width: 100vw;
}

.highlights {
  background-color: #d9d9d9;
  width: 100vw;
}

.testimonials {
  background-color: #1b1b1b;
  width: 100vw;
}

.about {
  background-color: #6c6c6c;
  width: 100vw;
}

.footer-navigation {
  background-color: #d9d9d9;
  width: 100vw;
}

button {
  border: transparent;
  border-radius: 16px;
  color: black;
  background-color: var(--primary-2);
}

li a {
  text-decoration: none;
  color: black;
}

li a:link {
  color: black;
}

li a:active {
  color: black;
}

li a:hover {
  color: var(--primary-1);
}

li a:visited {
  color: var(--primary-1);
}
