/* defined colors */
@import url("colors.css");
@import url("dimensions.css");

@media (width < 768px) {
  .navigation-bar {
    height: 120px;
  }

  .hero-section {
    height: 320px;
  }

  .highlights {
    height: 640px;
  }

  .testimonials {
    height: 340px;
  }

  .about {
    height: 552px;
  }

  .footer-navigation {
    height: 412px;
  }
}

@media (768px <= width < 1200px) {
  .navigation-bar {
    height: 120px;
  }

  .hero-section {
    height: 368px;
  }

  .highlights {
    height: 640px;
  }

  .testimonials {
    height: 484px;
  }

  .about {
    height: 428px;
  }

  .footer-navigation {
    height: 322px;
  }
}

@media (width >= 1200px) {
  .navigation-bar {
    height: 120px;
  }

  .hero-section {
    height: 440px;
  }

  .highlights {
    height: 700px;
  }

  .testimonials {
    height: 484px;
  }

  .about {
    height: 560px;
  }

  .footer-navigation {
    height: 460px;
  }
}

.navigation-bar {
  width: 100%;
}

.hero-section {
  width: 100%;
}

.highlights {
  width: 100%;
}

.testimonials {
  width: 100%;
}

.about {
  width: 100%;
}

.footer-navigation {
  width: 100%;
}
