@import url("colors.css");
@import url("dimensions.css");

@media (width < 768px) {
  .navigation-bar {
    height: 120px;
  }

  .reserve-hero-section {
    height: 320px;
  }

  .footer-navigation {
    height: 384px;
  }
}

@media (768px <= width < 1200px) {
  .navigation-bar {
    height: 120px;
  }

  .reserve-hero-section {
    height: 368px;
  }

  .footer-navigation {
    height: 332px;
  }
}

@media (width >= 1200px) {
  .navigation-bar {
    height: 120px;
  }

  .reserve-hero-section {
    height: 440px;
  }

  .footer-navigation {
    height: 332px;
  }
}

.navigation-bar {
  background-color: #ececec;
  width: 100%;
}

.reserve-hero-section {
  /* background-color: #e0e0e0; */
  width: 100%;
}

.reservation-section {
  padding: 1.25rem 1rem;
}

.footer-navigation {
  background-color: #8f8f8f;
  width: 100%;
}

h1 {
  white-space: wrap;
}
