@import url("../colors.css");
@import url("../dimensions.css");

@media (width < 768px) {
  .custom-select-subsection {
    min-height: 264px;
  }

  .time-window-subsection {
    min-height: 172px;
  }

  .reservation-details-subsection {
    min-height: 272px;
  }

  .custom-select-subsection-grid {
    grid-template-columns: repeat(auto-fit, 100%);
    gap: var(--spacing-8);
  }

  .time-window-subsection-grid {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: var(--spacing-8);
  }

  .reservation-details-subsection-grid {
    grid-template-columns: repeat(auto-fit, 100%);
    gap: var(--spacing-8);
  }

  .tag-button {
    min-width: 90px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--primary-2);
  }
}

@media (768px <= width < 1200px) {
  .custom-select-subsection {
    min-height: 128px;
  }

  .time-window-subsection {
    min-height: 124px;
  }

  .reservation-details-subsection {
    min-height: 178px;
  }

  .custom-select-subsection-grid {
    grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    gap: var(--spacing-8);
  }

  .time-window-subsection-grid {
    grid-template-columns: repeat(auto-fit, minmax(140.8px, 1fr));
    gap: var(--spacing-8);
  }

  .reservation-details-subsection-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing-8);
  }

  .tag-button {
    min-width: 140.8px;
    height: 40px;
    padding: 0.5rem 2.25rem;
    border-radius: 8px;
    background-color: var(--primary-2);
  }
}

@media (width > 1200px) {
  .custom-select-subsection {
    min-height: 148px;
  }

  .time-window-subsection {
    min-height: 132px;
  }

  .reservation-details-subsection {
    min-height: 178px;
  }

  .custom-select-subsection-grid {
    grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    gap: var(--spacing-8);
  }

  .time-window-subsection-grid {
    grid-template-columns: repeat(auto-fit, minmax(165.6px, 1fr));
    gap: var(--spacing-8);
  }

  .reservation-details-subsection-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing-8);
  }

  .tag-button {
    min-width: 165.6px;
    height: 40px;
    padding: 0.5rem 2.25rem;
    border-radius: 8px;
    background-color: var(--primary-2);
  }
}

.custom-select-subsection {
  width: 100%;
}

.time-window-subsection {
  width: 100%;
}

.reservation-details-subsection {
  width: 100%;
}

.custom-select-subsection > hr {
  border: 1px solid var(--highlight-2);
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tag-button-selected {
  background-color: var(--primary-1);
  color: white;
}

.tag-button:disabled {
  background-color: var(--primary-2);
  /* stylelint-disable-next-line color-function-notation -- requires opacity */
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  text-decoration: line-through;
}

.time-window-subsection-grid {
  margin-top: 20px;
}

.reservation-details-subsection-grid {
  margin-top: 20px;
}
